<%= form_with(model: meal_plan, class: 'contents') do |form| %>
  <%= render 'layouts/error_messages', model: meal_plan %>
  <div class="my-5">
    <%= render 'layouts/title_meal_date', meal_date: meal_plan.meal_date %>
    <%= form.hidden_field :meal_date %>

    <%= form.fields_for :meals, meal_plan.meals.sort_by { |meal| Meal.timings[meal.timing] } do |meal_form| %>
      <div id="<%= meal_timing(meal_form) %>" class="border border-dashed border-red-900/10 rounded-lg p-4 my-5">
        <%= meal_form.hidden_field :timing, value: meal_timing(meal_form) %>
        <div class="flex items-center">
          <%= image_tag("meals/#{meal_timing(meal_form)}.svg", class: 'page-icon text-center mr-2', alt: alt_meal_timing(meal_timing(meal_form))) %>
          <strong class="block font-bold text-lg"><%= Meal.human_attribute_name("timing.#{meal_timing(meal_form)}") %></strong>
        </div>
        <div class="my-3">
          <%= meal_form.label :name, class: 'block mb-1' %>
          <%= meal_form.text_field :name, placeholder: meal_name_placeholder(meal_form.index),
                                          class: 'block rounded-md border border-red-950/20  w-full focus:ring-orange-950/50 focus:border-orange-950/50' %>
        </div>
        <div class="my-2">
          <%= meal_form.label :memo, class: 'block mb-1' %>
          <%= meal_form.text_area :memo, rows: 1, placeholder: meal_memo_placeholder(meal_form.index),
                                         class: 'block  rounded-md border border-red-950/20 px-3 py-2 w-full focus:ring-orange-950/50 focus:border-orange-950/50' %>
        </div>
      </div>
    <% end %>

    <div class="text-center">
      <%= form.submit button_display, class: 'rounded-full mt-2 py-3 px-9 bg-red-400 text-white font-bold text-lg inline-block cursor-pointer hover:bg-red-500' %>
    </div>
  </div>
<% end %>
