<% set_meta_tags title: '献立表（月毎）' %>
<% set_meta_tags description: '月毎の献立表のページです。' %>
<div class="w-full">
  <%= month_calendar events: @meal_plans do |date, meal_plan| %>
    <div class="relative w-1/7 h-20 md:h-28 hover:bg-orange-50">
      <p class="absolute inset-x-0 top-1">
        <%= date.day %>
      </p>

      <div class="absolute inset-x-0 bottom-2">
        <%= link_to meal_plan_link(meal_plan, date) do %>
          <% Meal.timings.each_key do |timing| %>
            <div class="flex items-center leading-3 md:my-1">
              <%= image_tag("meals/#{timing}.svg", class: 'w-2 md:w-3 mx-[2px] md:mx-0.5', alt: alt_meal_timing(timing)) %>
              <span class="truncate block text-[6px] md:text-xs">
              <%= meal_plan&.meals&.find_by(timing:)&.name || content_tag(:span, '未確定', class: 'text-orange-950/10') %>
            </span>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
