<div class="w-full">
  <%= turbo_frame_tag 'meal_plan_list' do %>
    <div>
      <%= month_calendar events: @meal_plans do |date, meal_plan| %>
        <div class="hover:bg-orange-50/50 rounded-lg">
          <p>
            <%= date.day %>
          </p>

          <div class="block mt-4">
            <% if meal_plan.blank? || meal_plan.meals.blank? %>
              <%= link_to '', new_meal_plan_path(meal_date: date), data: { turbo_frame: '_top' }, class: 'plus_icon relative mt-2 opacity-50' %>
            <% else %>
              <%= link_to meal_plan, data: { turbo_frame: '_top' } do %>
                <ul>
                  <% meal_plan.meals_sort_by_timing.each do |meal| %>
                    <li class="truncate text-left text-xs">
                      <%= meal.name %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
