<div class="w-full">
  <% content_for :title, '献立カレンダー' %>
  <%= turbo_frame_tag 'meal_plan_list' do %>
    <div>
      <%= month_calendar events: @meal_plans do |date, meal_plan| %>
        <div>
          <p>
            <%= date.day %>
          </p>

          <div class="block">
            <% if meal_plan.blank? || meal_plan.meals.blank? %>
              <%= '未定' %>
            <% else %>
              <ul>
                <% meal_plan.meals_sort_by_timing.each do |meal| %>
                  <li>
                    <%= meal.name %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
