<div class="w-full">
  <%= turbo_frame_tag 'meal_plan_list', data: { turbo_action: :advance } do %>
    <div>
      <%= week_calendar events: @meal_plans do |date, meal_plan| %>
        <% if meal_plan&.meals.blank? %>
          <div class="flex items-center h-14">
            <%= button_to meeting_rooms_path(meal_plan:, meal_date: date), method: :post, data: { turbo_frame: '_top' },
                                                                           class: 'absolute left-1/2 transform -translate-x-1/2 -translate-y-1/2 ml-2 meeting_room_button' do %>
              <%= image_tag('pages/chat_double.svg', class: 'meal-icon') %>
              <span class="ml-1 text-l text-white">会議へ</span>
            <% end %>
            <%= link_to '', new_meal_plan_path(meal_date: date), data: { turbo_frame: '_top' }, class: 'plus_icon right-15' %>
          </div>
        <% else %>
          <%= link_to meal_plan, data: { turbo_frame: '_top' } do %>
            <div class="text-left flex items-center h-full min-h-14 w-full hover:bg-orange-50/50 rounded-lg">
              <ul class="w-4/5 mx-auto pl-4 inline-block">
                <% meal_plan.meals_sort_by_timing.each do |meal| %>
                  <li class="flex justify-start items-center my-1">
                    <%= image_tag("meals/#{meal.timing}.svg", class: 'meal-icon text-center mr-2') %>
                    <%= meal.name %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
