<div class="w-full">
  <%= turbo_frame_tag 'meal_plan_list', data: { turbo_action: :advance } do %>
    <div>
      <%= week_calendar events: @meal_plans do |date, meal_plan| %>
        <% if meal_plan&.meals.blank? %>
          <div class="flex items-center h-14">
            <%= button_to meeting_rooms_path(meal_plan:, meal_date: date), method: :post, data: { turbo_frame: '_top' },
                                                                           class: 'absolute left-1/2 transform -translate-x-1/2 -translate-y-1/2 ml-2 meeting_room_button font-medium' do %>
              <%= image_tag('pages/chat_double.svg', class: 'meal-icon') %>
              <span class="ml-1">会議へ</span>
            <% end %>
            <%= link_to '', new_meal_plan_path(meal_date: date), data: { turbo_frame: '_top' }, id: 'plus_icon', class: 'plus_icon right-15' %>
          </div>
        <% else %>
          <%= link_to meal_plan, data: { turbo_frame: '_top' } do %>
            <div class="text-left flex items-center h-full min-h-14 w-full hover:bg-orange-100 rounded-lg">
              <ul class="w-4/5 mx-auto pl-4 inline-block">
                <% meals_sort_by_timing(meal_plan).each do |meal| %>
                  <li class="flex justify-start items-center my-1">
                    <%= image_tag("meals/#{meal.timing}.svg", class: 'meal-icon text-center mr-2') %>
                    <%= meal.name %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<% if session[:welcome_modal] %>
  <div data-controller="modal" class="text-right">
    <dialog data-modal-target="dialog" class="w-4/5 sm:w-1/2 lg:w-1/3 xl:w-1/4 p-4 rounded-lg backdrop:bg-black/20" id="welcome-modal">
      <button data-action="modal#close" class="px-1 py-1 rounded-full bg-orange-100 text-right">
        <%= image_tag('pages/cross_mark.svg', class: 'page-icon text-center') %>
      </button>
      <div class="text-center leading-loose">
        <p class="text-lg font-bold my-2">
          ごはんサミットへようこそ！
        </p>
        <%= image_tag('home/welcome_modal.png', class: 'w-1/2 mx-auto') %>
        <p class="text-balance my-2">
          初めて使う人は使い方を確認してください。
        </p>
        <div class="my-2">
          <%= link_to '使い方はこちら', about_path, class: 'text-lg underline hover:no-underline', data: { action: 'modal#close', turbo_frame: '_top' } %>
        </div>
      </div>
    </dialog>
  </div>
  <% session.delete(:welcome_modal) %>
<% end %>
