<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto font-medium">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= button_to '相談部屋 >', meeting_rooms_path(meal_plan: @meal_plan, meal_date: @meal_plan.meal_date), method: :post %>

    <%= render @meal_plan %>

    <%= link_to 'Back to meal plans', meal_plans_path(start_date: @meal_plan.meal_date),
                class: 'ml-2 rounded-lg py-3 px-5 text-stone-500 bg-stone-100 inline-block' %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this meal plan', @meal_plan, method: :delete,
                                                          class: 'rounded-lg py-3 px-5 text-stone-500 bg-stone-100' %>
    </div>
  </div>
</div>
