<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div>
    <%= link_to '献立表へ戻る', meal_plans_path(start_date: @meeting_room.meal_plan.meal_date) %>
  </div>

  <div class="flex justify-between items-center">
    <% content_for :title, '相談部屋' %>
    <h1 class="font-bold text-4xl">相談部屋</h1>
  </div>

  <div id="remarks">
    <div id="proposals" class="min-w-full">
      <h2 class="font-bold text-3xl">食べたいもの</h2>
      <% @remarks.filter(&:proposal?).each do |remark| %>
        <%= render remark %>
      <% end %>
    </div>
    -----------------
    <div id="comments" class="min-w-full">
      <h2 class="font-bold text-3xl">コメント</h2>
      <% @remarks.filter(&:comment?).each do |remark| %>
        <%= render remark %>
      <% end %>
    </div>
  </div>
  <div>
    <%= link_to '提案する', new_meeting_room_remark_path(@meeting_room, remark_type: :proposal),
                data: { turbo_frame: dom_id(Remark.new) } %>
    <%= link_to 'コメントする', new_meeting_room_remark_path(@meeting_room, remark_type: :comment),
                data: { turbo_frame: dom_id(Remark.new) } %>
    <%= turbo_frame_tag Remark.new %>
  </div>
</div>
