<div class="mx-auto  w-full">
  <% content_for :title, '会議室' %>
  <div class="flex justify-around items-center">
    <h1 class="font-bold text-2xl"><%= l @meeting_room.meal_plan.meal_date, format: :long %></h1>
    <%= link_to meal_plans_path(start_date: @meeting_room.meal_plan.meal_date),
                class: 'inline-block my-4 rounded-full py-3 px-4 flex items-center' do %>
      <i class="fa-regular fa-rectangle-list text-xl"></i>
      <span class="ml-2 text-md">一覧へ</span>
    <% end %>
  </div>

  <div class="mb-6 mx-auto p-4">
    <div class="flex justify-center">
    <%= link_to '提案する', new_meeting_room_remark_path(@meeting_room, remark_type: :proposal),
                data: { turbo_frame: dom_id(Remark.new) },class: 'inline-block mx-2 my-4 rounded-full py-3 px-6 font-bold bg-orange-100/70  items-center' %>
    <%= link_to 'コメントする', new_meeting_room_remark_path(@meeting_room, remark_type: :comment),
                data: { turbo_frame: dom_id(Remark.new) }, class: 'inline-block mx-2 my-4 rounded-full py-3 px-3 font-bold bg-orange-100/70 items-center' %>
    </div>
    <%= turbo_frame_tag Remark.new %>
  </div>
  <div id="remarks">
    <div class="box m-1 border border-orange-950/50">
      <h2 class="font-bold text-xl">
        <span><i class="fa-solid fa-utensils mr-2"></i>候補</span>
      </h2>
      <div id="proposals" class="inner">
        <% @remarks.filter(&:proposal?).each do |remark| %>
          <%= render 'remarks/proposal', remark: %>
        <% end %>
      </div>
    </div>
    <div class="m-4">
      <h2 class="font-bold text-xl mb-4">
        <i class="fa-regular fa-comment fa-flip-horizontal"></i>
        <span>コメント</span>
      </h2>
      <div id="comments" class="grid gap-y-2">
        <% @remarks.filter(&:comment?).each do |remark| %>
          <%= render 'remarks/comment', remark: %>
        <% end %>
      </div>
    </div>
  </div>
</div>
