<div class="mx-auto p-4 w-full">
  <% content_for :title, '会議室' %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-2xl"><%= l @meeting_room.meal_plan.meal_date, format: :long %></h1>
    <%= link_to meal_plans_path(start_date: @meeting_room.meal_plan.meal_date),
                class: 'inline-block my-4 rounded-full flex items-center' do %>
      <i class="fa-regular fa-rectangle-list text-xl"></i>
      <span class="ml-2 text-md">献立表へ</span>
    <% end %>
  </div>

  <div class="mb-6 mx-auto">
    <div class="flex justify-center">
      <%= link_to '提案する', new_meeting_room_remark_path(@meeting_room, remark_type: :proposal), data: { turbo_frame: dom_id(Remark.new) }, class: 'inline-block mx-2 my-4 px-6 remark_button' %>
      <%= link_to 'コメントする', new_meeting_room_remark_path(@meeting_room, remark_type: :comment), data: { turbo_frame: dom_id(Remark.new) }, class: 'inline-block mx-2 my-4 px-3 remark_button' %>
    </div>
    <%= turbo_frame_tag Remark.new %>
  </div>
  <div id="remarks">
    <div class="box border border-orange-950/50">
      <h2 class="font-bold text-xl">
        <span><i class="fa-solid fa-utensils mr-2"></i>候補</span>
      </h2>
        <div id="proposals" class="inner">
          <% @remarks.filter(&:proposal?).each do |remark| %>
            <%= turbo_frame_tag "proposal" do %>
              <%= render 'remarks/proposal', remark: %>
            <% end %>
          <% end %>
        </div>
    </div>
    <div class="mt-6">
      <h2 class="font-bold text-xl mb-4">
        <i class="fa-regular fa-comment fa-flip-horizontal"></i>
        <span>コメント</span>
      </h2>
        <div id="comments" class="grid gap">
          <% @remarks.filter(&:comment?).each do |remark| %>
            <%= turbo_frame_tag "comment" do %>
              <%= render 'remarks/comment', remark: %>
            <% end %>
          <% end %>
        </div>
    </div>
  </div>
</div>
