<div class="mx-auto p-4 w-full">
  <h1 class="font-bold text-2xl">ユーザー設定</h1>
  <%= form_with(model: @user, class: 'contents') do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="my-5">
      <%= form.label :name, class: 'block mb-1' %>
      <%= form.text_field :name,
                          class: 'block rounded-md border border-red-950/20  w-full focus:ring-orange-950/50 focus:border-orange-950/50' %>
    </div>

    <div class="my-5">
      <div class="my-4">アイコン画像</div>
      <div class="flex flex-wrap gap-4 justify-between">
        <% User.icons.keys.each do |icon| %>
          <label class="icon_option">
          <%= form.radio_button :icon, icon, class: 'hidden_radio' %>
          <%= image_tag "user_icons/#{icon}", class: 'icon_image' %>
          </label>
        <% end %>
      </div>
    </div>

    <div class="m-2 text-center">
      <%= form.submit class: 'rounded-full py-3 px-7 bg-red-400 text-white' %>
    </div>
  <% end %>
  <div class="my-8">
    アカウントを削除すると、献立表を共有しているユーザーがいない場合は献立表のデータも削除されます。<br>
    献立表を共有するユーザーが残っている場合、献立表は残ります。
    <div class="text-right">
      <%= button_to 'アカウントを削除する', user_path, method: :delete, data: { turbo_confirm: '本当に削除して良いですか？' }, class: 'mt-4 border-b-4 border-orange-950/10' %>
    </div>
  </div>
</div>
