<div class="my-12 border-t-4 border-dashed border-orange-100">
  <h2 class="mt-8 mx-auto text-xl">家族で共有しよう</h2>
  <div class="w-1/2 mx-auto text-center">
    <%= image_tag('home/share.png') %>
  </div>
  <div class="text-center text-balance">
    ここでの「家族」は一緒に食事をしている人たちのことです。<br>
    家族を招待することで、献立を相談したり献立表を共有することができます。
  </div>
  <div class="w-2/3 mx-auto my-8 text-center p-2 border-8 rounded-lg border-orange-50">
    <%= image_tag('home/screen_share.png') %>
  </div>
</div>
<div class="my-12 border-t-4 border-dashed border-orange-100">
  <h2 class="mt-8 mx-auto text-xl">献立を相談しよう</h2>
  <div class="w-1/2 mx-auto my-8 text-center">
    <%= image_tag('home/discussion.png') %>
  </div>
  <div class="text-center text-balance">
    食べたいものを提案しましょう。<br>
    食べたいものが決まっていなくても、その日の気分や希望をコメントできます。<br>
    相談して献立を決めていきましょう。
  </div>
  <div class="w-2/3 mx-auto my-8 text-center p-2 border-8 rounded-lg border-orange-50">
    <%= image_tag('home/screen_discussion.png') %>
  </div>
</div>
<div class="my-12 border-y-4 border-dashed border-orange-100">
  <h2 class="mt-8 mx-auto text-xl">献立表に登録しよう</h2>
  <div class="w-1/2 mx-auto my-8 text-center">
    <%= image_tag('home/list.png') %>
  </div>
  <div class="text-center text-balance">
    食べたいものが決まったら献立表に登録しましょう。<br>
    会議で提案した献立をそのまま献立表に登録することができます。<br>
    会議をせずに献立を登録することもできます。
  </div>
  <div class="w-2/3 mx-auto my-8 text-center p-2 border-8 rounded-lg border-orange-50">
    <%= image_tag('home/screen_list.png') %>
  </div>
</div>
