<div class="my-12 border-t-4 border-dashed border-orange-100">
  <div class="mt-6 flex justify-center items-center">
    <%= image_tag('home/gohan.svg', class: 'w-12 md:w-16', alt: 'ごはんのマーク') %>
    <h2 class="text-xl md:text-2xl font-bold">家族で共有しよう</h2>
    <%= image_tag('home/gohan.svg', class: 'w-12 md:w-16', alt: 'ごはんのマーク') %>
  </div>
  <div class="w-1/2 mx-auto text-center">
    <%= image_tag('home/share.png', alt: 'ひよこたちがスマホをみせているイラスト') %>
  </div>
  <div class="text-center">
    ここでの「家族」は一緒に<br class="md:hidden">食事をしている人たちのことです。<br>
    家族を招待することで、献立を相談したり<br class="md:hidden">献立表を共有することができます。
  </div>
  <div class="w-2/3 mx-auto my-8 text-center p-2 border-8 rounded-lg border-orange-50">
    <%= image_tag('home/screen_share.png', alt: '献立表画面のキャプチャ') %>
  </div>
</div>
<div class="my-12 border-t-4 border-dashed border-orange-100">
  <div class="mt-6 flex justify-center items-center">
    <%= image_tag('home/gohan.svg', class: 'w-12 md:w-16', alt: 'ごはんのマーク') %>
    <h2 class="text-xl md:text-2xl font-bold">献立を相談しよう</h2>
    <%= image_tag('home/gohan.svg', class: 'w-12 md:w-16', alt: 'ごはんのマーク') %>
  </div>
  <div class="w-1/2 mx-auto my-8 text-center">
    <%= image_tag('home/discussion.png', alt: 'ひよこたちが話し合いをしているイラスト') %>
  </div>
  <div class="text-center">
    食べたいものを提案しましょう。<br>
    食べたいものが決まっていなくても、<br class="md:hidden">その日の気分や希望をコメントできます。<br>
    相談して献立を決めていきましょう。
  </div>
  <div class="w-2/3 mx-auto my-8 text-center p-2 border-8 rounded-lg border-orange-50">
    <%= image_tag('home/screen_discussion.png', alt: '会議室画面のキャプチャ') %>
  </div>
</div>
<div class="my-12 border-y-4 border-dashed border-orange-100">
  <div class="mt-6 flex justify-center items-center">
    <%= image_tag('home/gohan.svg', class: 'w-12 md:w-16', alt: 'ごはんのマーク') %>
    <h2 class="text-xl md:text-2xl font-bold">献立表に登録しよう</h2>
    <%= image_tag('home/gohan.svg', class: 'w-12 md:w-16', alt: 'ごはんのマーク') %>
  </div>
  <div class="w-1/2 mx-auto my-8 text-center">
    <%= image_tag('home/list.png', alt: 'にわとりがひよこにスマホをみせているイラスト') %>
  </div>
  <div class="text-center text-balance">
    食べたいものが決まったら、<br class="md:hidden">献立表に登録しましょう。<br>
    会議で提案した献立を、<br class="md:hidden">そのまま献立表に登録することができます。<br>
    会議をせずに献立を登録することもできます。
  </div>
  <div class="w-2/3 mx-auto my-8 text-center p-2 border-8 rounded-lg border-orange-50">
    <%= image_tag('home/screen_list.png', alt: '献立を登録する画面のキャプチャ') %>
  </div>
</div>
