<% set_meta_tags title: '招待用トップページ' %>
<% set_meta_tags description: '家族からごはんサミットに招待されています。ごはんサミットは、献立の相談と献立表の共有ができるアプリです。' %>
<div class="mx-auto p-4 w-full text-center">
  <p class="m-4">
    <strong class="text-xl">ごはんサミットへようこそ！</strong><br>
    ごはんサミットは、<br>
    献立の相談と献立表の共有ができるアプリです。
  </p>
  <div class="w-2/3 mx-auto">
    <%= image_tag('home/logo_large.png', class: 'text-center') %>
  </div>
  <div class="w-1/2 mx-auto text-center">
    <%= image_tag('home/invitation.png') %>
  </div>
  <p class="mx-4 mb-8 font-bold text-balance">
    家族から招待されています！<br>
    以下のボタンから初回ログインをすると献立表に参加できます。
  </p>
  <%= render 'login_block' %>
  <%= render 'over_view' %>
  <p class="my-8 mx-2">
    <strong class="text-xl">家族で献立の相談・共有をしよう！</strong>
  </p>
  <div class="w-2/3 mx-auto mb-8">
    <%= image_tag('/images/logo_small.png', class: 'text-center') %>
  </div>
  <%= render 'login_block' %>
</div>
