<% set_meta_tags title: '招待用ページ' %>
<% set_meta_tags description: '家族からごはんサミットに招待されています。ごはんサミットは、家族で献立の相談と献立表の共有ができるアプリです。' %>
<div class="mx-auto my-8 px-4 w-full text-center">
  <strong class="text-xl md:text-2xl">ごはんサミットへようこそ！</strong><br>
  <div class="w-2/3 md:w-1/2 mt-4 mx-auto">
    <%= image_tag('home/logo_large.png', alt: 'ごはんサミットのロゴ') %>
  </div>
  <p class="mt-4">
    ごはんサミットは、<br>
    献立の相談と献立表の共有ができるアプリです。
  </p>
  <div class="w-2/3 md:1/2 mx-auto">
    <%= image_tag('home/invitation.png', alt: 'にわとりとひよこが出迎えるイラスト') %>
  </div>
  <p class="mx-4 mb-8 font-bold">
    家族から招待されています！<br>
    以下のボタンから初回ログインをすると<br class="md:hidden">献立表に参加できます。
  </p>
  <%= render 'login_block' %>
  <%= render 'over_view' %>
  <p class="my-8 mx-2">
    <strong class="text-lg md:text-xl">家族で献立の相談・共有をしよう！</strong>
  </p>
  <div class="w-2/3 mx-auto mb-8">
    <%= image_tag('/images/logo_small.png', alt: 'ごはんサミットのロゴ') %>
  </div>
  <%= render 'login_block' %>
</div>
