<div>
  <div class="flex justify-around p-2">
    <div class="flex items-center">
      <span class="font-semibold">
        <time datetime="<%= start_date.strftime('%Y-%m') %>">
          <%= "#{start_date.year}年" %>
        </time>
      </span>
    </div>

    <nav class="flex items-center space-x-3">
      <%= link_to '', calendar.url_for_previous_view,
                  class: 'arrow_left hover:underline' %>
      <%= link_to t('simple_calendar.week.today'), calendar.url_for_today_view,
                  class: 'hover:underline' %>
      <%= link_to '', calendar.url_for_next_view,
                  class: 'arrow_right hover:underline' %>
    </nav>

    <div class="flex mr-2">
      <%= link_to meal_plans_calendar_path, data: { turbo_frame: '_top' }, class: 'flex items-center' do %>
        <%= image_tag('pages/calendar', class: 'page-icon text-center stroke-orange-200') %>
      <% end %>
    </div>
  </div>

  <table class="w-full table-fixed border-collapse">
    <tbody>
    <% date_range.each do |day| %>
      <tr id="<%= row_day(day) %>" class="border-t border-dashed border-orange-900/10">
        <th class="w-1/5 items-center text-left p-3 text-orange-950/70">
          <span class="ml-3"><%= l day, format: :short %></span>
          <p class="flex ml-6">
            <%= t('date.abbr_day_names')[day.wday] %>
          </p>
        </th>

        <td id="<%= cell_day(day) %>" class="w-5/6 p-3">
          <%= content_tag :div, class: calendar.td_classes_for(day) do %>
            <% instance_exec(day, calendar.sorted_events_for(day).first, &passed_block) %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
