<%= form_with(model: [meal_plan, meal], url: meal_plan_meals_path(meal_plan)) do |form| %>
  <%= render 'layouts/error_messages', model: meal %>
  <div class="my-6">
    <%= form.hidden_field :id %>
    <div id="timing_checkbox" class="checkbox-3 flex justify-around">
      <% Meal.timings.keys.each do |timing| %>
        <%= form.radio_button :timing, timing, checked: (timing == 'lunch'), class: 'checkbox-3' %>
        <%= form.label "timing_#{timing}", Meal.human_attribute_name("timing.#{timing}") %>
      <% end %>
    </div>
    <%= form.hidden_field :name, value: form.object.name %>
  </div>
  <div class="m-2 text-center">
    <%= form.submit '登録', class: 'rounded-full py-3 px-7 bg-red-400 text-white' %>
  </div>
<% end %>
