<% set_meta_tags title: '提案を献立表に登録' %>
<% set_meta_tags description: '会議で出た提案を献立に直接登録します。' %>
<div class="px-4 py-1.5 flex justify-center items-center bg-orange-200">
  <%= link_to '', meeting_room_path(@meal_plan.meeting_room), data: { turbo: false },
                                                              class: 'inline-block text-left font-bold arrow_left' %>
  <h1 class="mx-auto text-center font-bold text-xl"><%= l @meal_plan.meal_date, format: format_date_length_whether_this_year(@meal_plan.meal_date) %></h1>
</div>
<%= render 'meeting_rooms/meals_modal', meal_plan: @meal_plan %>
<div class="p-4 w-full">
  <div class="mb-8">
    以下の料理を献立に登録します。
    <div class="my-4 text-xl font-bold">
      <%= @meal.name %>
    </div>
    食べるタイミングを選んでください。<br>
    既に登録されている献立に上書きしますので注意してください。

    <%= render 'meals/timing_form', meal_plan: @meal_plan, meal: @meal %>
  </div>
</div>
