<div class="mx-auto p-8 w-full">
  <div class="text-center mb-8">
    <%= link_to '会議へ戻る', meeting_room_path(@meal_plan.meeting_room),
                class: 'rounded-full py-2 px-3 bg-orange-100/70' %>
  </div>
  <div class="mb-8">
    <h2 class="my-4 font-bold text-2xl items-center">
      <%= l @meal_plan.meal_date, format: :long %>
    </h2>
    以下の料理を献立に登録します。
    <div class="my-4 text-xl font-bold">
      <%= @meal.name %>
    </div>
    食べるタイミングを選んでください。<br>
    既に登録されている献立に上書きしますので注意してください。

    <%= render 'meals/timing_form', meal_plan: @meal_plan, meal: @meal %>
  </div>

  <div class="my-4">
    <% if @meal_plan.meals.present? %>
      <h3>現在登録されている献立</h3>
      <% @meal_plan.meals_sort_by_timing.each do |meal| %>
        <%= render meal %>
      <% end %>
    <% else %>
      <h3>現在登録されている献立はありません。</h3>
    <% end %>
  </div>

</div>
