<%= turbo_frame_tag remark do %>
  <%= link_to edit_meeting_room_remark_path(remark.meeting_room, remark) do %>
    <div class="border-b border-dashed border-orange-950/10">
      <div id="remark_<%= remark.id %>" class="w-full mt-1 mb-2 pb-3 hover:bg-orange-100 rounded-lg">
        <div class="flex items-center my-2 pt-2">
          <%= render 'remarks/user_icon', remark: %>
          <span class="text-sm">
            <%= l remark.created_at, format: :long %>
          </span>
        </div>
        <div class="mx-auto ml-7 px-3 break-all font-medium">
          <%= safe_join(remark.content.split("\n"), tag.br) %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
