<%= turbo_stream_from remark.meeting_room, 'comment' %>
<%= turbo_frame_tag remark do %>
  <div id="remark_<%= remark.id %>" class="my-1 border-b border-dashed border-orange-950/10 pb-4">
    <div class="flex justify-between my-3">
      <div class="flex">
        <%= image_tag remark.user.icon, class: 'icon mr-2' %>
        <span class="text-sm">
          <%= l remark.created_at, format: :long %>
        </span>
      </div>
      <%= render 'remarks/edit_link', remark: %>
    </div>
    <div class="mx-auto ml-6 px-3 break-all font-medium">
      <%= format_line_break(remark.content) %>
    </div>
  </div>
<% end %>
