<%= turbo_frame_tag remark do %>
  <%= form_with model: [meeting_room, remark]  do |form| %>
    <%= render 'layouts/error_messages', model: remark %>
    <div class="flex items-center">
      <%= form.hidden_field :remark_type %>
      <%= form.hidden_field :meeting_room_id, value: meeting_room.id %>
      <div class="my-4 w-full mx-auto">
        <%= form.text_area :content, rows: 1, placeholder: remark_placeholder(remark.remark_type), autofocus: true,
                                     class: 'block rounded-md border border-red-950/20  w-full focus:ring-orange-950/50 focus:border-orange-950/50' %>
      </div>
      <%= form.button type: :submit, id: 'submit_button', class: 'inline-block mx-auto cursor-pointer text-red-400 page-icon-big text-center ml-2 hover:text-red-600' do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" role="img" aria-label="決定のチェックマーク">
          <title>840_ch_f</title>
          <rect width="48" height="48" fill="none" />
          <circle cx="24" cy="24" r="18" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" />
          <polyline points="16.09 25.49 21.62 31.02 32.91 19.73" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" />
        </svg>
      <% end %>
    </div>
  <% end %>
  <div class="flex justify-around items-center">
    <% if remark.persisted? %>
      <%= button_to meeting_room_remark_path(remark.meeting_room, remark), method: :delete, id: 'trash_button', class: 'flex items-center p-2 inline-block cursor-pointer' do %>
        <%= image_tag('pages/trash.svg', class: 'page-icon-big p-1 text-center rounded-full hover:bg-orange-200', alt: '削除のゴミ箱マーク') %>
      <% end %>
    <% end %>
    <%= link_to meeting_room, class: 'inline-block cursor-pointer', id: 'cancel_button' do %>
      <%= image_tag('pages/cross_mark.svg', class: 'page-icon-big text-center rounded-full hover:bg-orange-200', alt: 'キャンセルのバツマーク') %>
    <% end %>
  </div>
<% end %>
