<%= turbo_frame_tag remark do %>
  <%= form_with model: [meeting_room, remark]  do |form| %>
    <% if remark.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <ul>
          <% remark.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="flex">
      <%= form.hidden_field :remark_type %>
      <%= form.hidden_field :meeting_room_id, value: meeting_room.id %>
      <div class="my-4 w-full mx-auto">
        <%= form.text_area :content, rows: 1,
                                     class: 'block rounded-md border border-red-950/20  w-full focus:ring-orange-950/50 focus:border-orange-950/50' %>
      </div>
      <%= form.button type: :submit, class: 'inline-block mx-auto cursor-pointer' do %>
        <%= image_tag('pages/check.svg', class: 'page-icon-big text-center ml-2') %>
      <% end %>
    </div>
  <% end %>
  <div class="flex justify-around items-center">
    <% if remark.persisted? %>
      <%= button_to meeting_room_remark_path(remark.meeting_room, remark), method: :delete, class: 'flex items-center p-2 inline-block cursor-pointer' do %>
        <%= image_tag('pages/trash.svg', class: 'page-icon text-center') %>
      <% end %>
    <% end %>
    <%= link_to meeting_room, class: 'inline-block cursor-pointer' do %>
      <%= image_tag('pages/cross_mark.svg', class: 'page-icon-big hover_bg text-center') %>
    <% end %>
  </div>
<% end %>
