<%= turbo_frame_tag remark do %>
  <div class="flex justify-between items-center">
    <div class="flex justify-start items-center ml-2 my-3 font-bold text-wrap">
      <%= image_tag remark.user.icon, class: 'icon mr-2' %>
      <%= remark.content %>
    </div>

    <div class="mr-2 flex-shrink-0">
      <% if remark.editable?(current_user) %>
        <%= link_to edit_meeting_room_remark_path(remark.meeting_room, remark), class: 'mr-2' do %>
          <i class="fa-solid fa-pen"></i>
        <% end %>
      <% end %>
      <%= link_to '登録', new_meal_plan_meal_path(remark.meeting_room.meal_plan, remark:), data: { turbo_frame: '_top' }, class: 'rounded-full py-2 px-3 text-white bg-red-400 inline-block' %>
    </div>
  </div>
<% end %>
