<%= turbo_frame_tag remark do %>
  <div>
    <div class="my-5">
      <%= image_tag remark.user.icon, class: 'icon' %>
      <%= remark.content %>
    </div>
    <% if remark.editable?(current_user) %>
      <%= link_to 'Edit', edit_meeting_room_remark_path(remark.meeting_room, remark) %>
    <% end %>
    <% if remark.proposal? %>
      <%= link_to '登録 >', new_meal_plan_meal_path(remark.meeting_room.meal_plan, remark:), data: { turbo_frame: '_top' } %>
    <% end %>
  </div>
<% end %>
