<div
  data-controller="dropdown"
  data-action="click@window->dropdown#hide touchstart@window->dropdown#hide keydown.esc->dropdown#hide"
  class="inline-block relative">
  <button id='menu-close' data-action="dropdown#toggle:stop" class="p-2 text-orange-950 rounded-full flex items-center hover:bg-orange-100">
    <%= image_tag('pages/menu.svg', class: 'icon', alt: 'メニューボタンの３本線マーク') %>
  </button>
  <div id="menu-open" data-dropdown-target="menu" class="hidden absolute top-4 right-0 mt-8 flex w-screen max-w-max text-orange-950">
    <div class="bg-white rounded-lg border-2 border-orange-200 overflow-hidden w-48 md:w-52 z-30">
      <%= link_to 'カレンダー表示する', calendar_meal_plans_path, data: { dropdown_target: 'menuItem' }, class: 'no-underline block p-4 bg-white hover:bg-orange-100' %>
      <%= link_to '家族を招待する', family_path, data: { dropdown_target: 'menuItem' }, class: 'no-underline block p-4 bg-white hover:bg-orange-100' %>
      <%= link_to '使い方', about_path, data: { dropdown_target: 'menuItem' }, class: 'no-underline block p-4 bg-white hover:bg-orange-100' %>
      <%= link_to '利用規約', terms_path, data: { dropdown_target: 'menuItem' }, class: 'no-underline block p-4 bg-white hover:bg-orange-100' %>
      <%= link_to 'プライバシーポリシー', privacy_path, data: { dropdown_target: 'menuItem' }, class: 'no-underline block p-4 bg-white hover:bg-orange-100' %>
      <%= link_to 'ログアウト', log_out_path, data: { dropdown_target: 'menuItem', turbo_prefetch: false }, class: 'no-underline block p-4 bg-white hover:bg-orange-100' %>
    </div>
  </div>
</div>
