<!DOCTYPE html>
<html class="bg-white md:bg-amber-50">
  <head>
    <title><%= 'ごはんサミット' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <% if session[:check_notification_url] %>
      <meta name="check-notification-url" content="true">
      <% session.delete(:check_notification_url) %>
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags(default_meta_tags) %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/logo_icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/logo_icon.png">
    <%= stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <script async src="https://ga.jspm.io/npm:es-module-shims@1.8.2/dist/es-module-shims.js" data-turbo-track="reload"></script>
    <%= javascript_importmap_tags %>
    <%= javascript_import_module_tag 'service_worker_installer' %>
    <script>
      window.vapidPublicKey = new Uint8Array(<%= vapid_public_key_bytes %>)
    </script>
  </head>

  <body class="text-sm md:text-base max-w-screen-sm mx-auto h-screen flex flex-col"
        data-controller="notification-url notification-redirect">
    <% unless current_page?(root_path) || current_page?(welcome_path) %>
        <%= render 'layouts/header' %>
    <% end %>
    <main class="flex-1 bg-white text-orange-950">
      <%= render 'layouts/flash' %>
      <%= yield %>
    </main>
    <% if current_page?(root_path) || current_page?(welcome_path) %>
      <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
