<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || 'Gohan Summit' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="bg-stone-700 text-white py-4 px-5 flex justify-between items-center">
      <div class="flex items-center">
        <% if current_user %>
          <%= image_tag current_user.icon, class: 'icon invert brightness-0' %>
          <%= link_to "#{current_user.name}さん", edit_user_path, class: 'ml-4 text-stone-100 hover:underline' %>
          <%= link_to '共有ページへ', family_path, class: 'ml-4 text-stone-100 hover:underline' %>
          <%= link_to 'ログアウト', log_out_path, class: 'ml-4 text-stone-300 hover:underline' %>
        <% else %>
          <span class="mr-4">ゲストさん</span>
        <% end %>
      </div>
      <div>
        <%= link_to '< home', root_path, class: 'ml-4 text-stone-300 hover:underline' %>
        <%= link_to '利用規約', terms_path, class: 'ml-4 text-stone-300 hover:underline' %>
      </div>
    </header>
    <main class="container mx-auto mt-4 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
